.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.actionButtons > * {
  width: 100%;
}

@media (width >= 40rem) {
  .header {
    flex-direction: row;
    align-items: center;
  }

  .actionButtons > * {
    width: unset;
  }
}
