/* COMPONENT*/
.cardGallery {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.galleryNav {
  position: absolute;
  display: flex;
  gap: var(--gap-lg);
  justify-content: space-between;
  width: 100%;
  bottom: 0;

  pointer-events: none;
}

.cardDisplay {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  align-items: center;
  justify-content: center;

  aspect-ratio: var(--aspect-card);

  --height-nav: calc(24px + (var(--gap-lg) * 4));
  --max-h-card: calc(80vh - var(--height-nav) - var(--gap-lg) * 3);
  width: min(
    90%,
    min(var(--max-w-md), var(--max-h-card) * var(--aspect-card))
  );
}

.navButton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--gap-lg);
  background-color: var(--color-bg-faded);
  border-radius: var(--radius-md);
  border: 2px solid var(--color-bg-subtle);

  pointer-events: all;
}
.nextButton {
  border-bottom-right-radius: var(--radius-xl);
}
.prevButton {
  border-bottom-left-radius: var(--radius-xl);
}

.icon > path {
  fill: var(--collection-color, black);
}

@media (min-width: 40rem) {
  .cardGallery {
    align-items: center;
  }

  .galleryNav {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
  }

  .navButton {
    width: fit-content;
    padding: var(--gap-2xl) var(--gap-lg);
  }
  .nextButton,
  .prevButton {
    border-radius: var(--radius-md);
  }
}

/* SKELETON */
.skeleton {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-xl);
}

@media (min-width: 40rem) {
  .skeleton {
    border-radius: var(--radius-lg);
  }
}
