.collectionPanel {
  --shadow-color: var(--color-bg-faded);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
  padding: var(--gap-md);
  border-radius: var(--radius-md);
  background-color: var(--color-bg-base);
  border: 2px solid var(--color-bg-subtle);
  transition: var(--theme-transitions),
    box-shadow var(--anim-duration-sm) ease-in-out;
}

.collectionPanel:hover {
  box-shadow: 0 var(--size-sm) var(--size-md) var(--shadow-color);
}