.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-fancy);
  padding: var(--gap-sm);
}

.big {
  font-size: var(--font-h1);
  gap: var(--gap-md);
}

.small {
  font-size: var(--font-h3);
  gap: var(--gap-sm);
}

@media (min-width: 40rem) {
  .big {
    gap: var(--gap-lg);
  }
}
