/* COMPONENT */
.resourcesList {
  max-width: var(--max-w-lg);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.resourceLink {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--gap-lg);
  background-color: var(--color-bg-base);
  border-radius: var(--radius-lg);
  border: 2px solid var(--color-bg-subtle);
}

.resourceLink > img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-md);
  border: 2px solid var(--color-bg-subtle);
}

.resourceInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.resourceHeader {
  display: flex;
  justify-content: space-between;
}

.icon > path {
  fill: var(--color-text-base);
}

.resourceInfo > p {
  color: var(--color-text-subtle);
}

@media (min-width: 40rem) {
  .resourceLink {
    padding: var(--gap-md);
    flex-direction: row;
  }

  .resourceLink > img {
    max-width: 10rem;
  }
}

/* SKELETON */
.skeleton > * {
  width: 100%;
  height: 136px;
}
