/* COMPONENT */
.cardsLinkGrid {
  --animation-delay: 0s;
  --cols: 2;
  --w-cardlink: calc(100% / var(--cols) - var(--gap-lg));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-lg);
  perspective: 1000px;
}

.cardLink {
  width: var(--w-cardlink);
  animation: turnReveal var(--anim-duration-md) var(--animation-delay) backwards;
  transition: transform var(--anim-duration-md);
}

.cardLink:hover {
  transform: scale(1.025);
}

.cardLink > img {
  width: 100%;
}

@keyframes turnReveal {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media (width >= 40rem) {
  .cardsLinkGrid {
    --cols: 3;
  }
}

@media (width >= 70rem) {
  .cardsLinkGrid {
    --cols: 4;
  }
}

/* SKELETON */
.skeleton > * {
  width: var(--w-cardlink);
  height: auto;
  aspect-ratio: 0.65;
  border-radius: var(--radius-lg);
}
