.collectionTitle {
  display: flex;
  flex-direction: row;
  gap: var(--gap-lg);
  align-items: center;
}

.skeleton {
  height: 64px;
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
}